{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "indent": [
      "warn",
      4
    ],
    "quotes": [
      "warn",
      "single"
    ],
  }
}
