@import url('https://fonts.cdnfonts.com/css/earth-orbiter');

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    color: white;
    background: linear-gradient(
        200.96deg,
        #fedc2a -29.09%,
        #dd5789 51.77%,
        #7a2c9e 129.35%
    );
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    width: 100%;
}

button {
    position: relative;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
        0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

button:hover {
    transform: scale(1.03);
    opacity: 1;
}

li {
    list-style: none;
}

pre {
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
}

a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    opacity: 0.9;
    /* margin: 10px; */
}

a:hover {
    opacity: 1;
    text-decoration: none;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar {
    font-size: 0.95rem;
    margin-right: 0.25rem;
}

.dashboard {
    align-items: center;
}

.footer-btns {
    position:fixed;
    display: flex;
    justify-content: space-between;
    top: 96vh;
    width: 98%;
}

.signature {
    font-family: 'Earth Orbiter';
    font-size: 1.2rem;
    color: #000;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 1vh;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;

}

.spin {
    animation: App-logo-spin infinite 16s linear;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.ip-input {
    height: 2rem;
    min-width: 40vw;
    border-radius: 8px;
    border-color: transparent;
    appearance: none;
    font-size: 1rem;
    background-color: white;
    color: black;
}

.output-terminal {
    background-color: black;
    height: 28vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    opacity: .95;
    z-index: 999 !important;
    max-width: 65vw;
    flex: 1;
    overflow-y: scroll !important;
}

.output-terminal::-webkit-scrollbar, body::-webkit-scrollbar{
    display: none;
}

.output-text {
    color: rgb(153, 255, 0);
    margin-left: 10px;
    margin-right: 10px;
    max-width: 56vw !important;
    overflow-wrap: break-word;
    font-family: monospace;
    font-weight: 500;
    font-size: 0.8rem;
}

.transparent-bg {
    background-color: transparent !important;
    box-shadow: none !important;
}

.terminal-wrapper {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    z-index: 999 !important;
    top: 0
}

.vcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .75s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .75s, opacity .75s ease-in-out;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
