/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
    position: relative;
    color: white;
    /* height: 100vh; */
    background: linear-gradient(
        200.96deg,
        #fedc2a -29.09%,
        #dd5789 51.77%,
        #7a2c9e 129.35%
    );
    font-family: sans-serif;
    /* overflow-y: hidden; */
}

main {
    width: 100%;
}

button {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
        0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    transform: scale(1.05);
    opacity: 1;
}

li {
    list-style: none;
}

pre {
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
}

a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    opacity: 0.9;
    /* margin: 10px; */
}

a:hover {
    opacity: 1;
    text-decoration: none;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blinking {
    /* animation: fadein infinite 1s linear; */
    animation: fadeout infinite 1.5s 1.4s ease-in-out;
    animation: name duration timing-function delay iteration-count direction
        fill-mode;
    font-weight: bolder;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connect-btn {
    min-width: 20vw;
    min-height: 5vh;
}

.connect-ip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar {
    font-size: 0.95rem;
    margin-right: 0.25rem;
}

.dashboard {
    align-items: center;
}

.group1 button,
.group2 button,
.group3 button {
    min-width: 30vw;
    min-height: 6vh;
}

.splash {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

.spin {
    animation: App-logo-spin infinite 16s linear;
}

.ip-input {
    height: 2rem;
    min-width: 40vw;
    border-radius: 8px;
    border-color: transparent;
    appearance: none;
    font-size: 1rem;
    background-color: white;
    color: black;
}

.output-terminal {
    background-color: black;
    height: 28vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    opacity: 0.8;
    z-index: 1;
    max-width: 60vw;
    flex: 1;
    overflow-y: scroll !important;
}

.output-text {
    color: rgb(153, 255, 0);
    margin-left: 10px;
    margin-right: 10px;
    max-width: 56vw !important;
    overflow-wrap: break-word;
    font-family: monospace;
    font-weight: 500;
    font-size: 0.8rem;
}

.terminal-wrapper {
    width: 100%;
}

#files {
    min-width: 30vw;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 8px;
    border-color: transparent;
    appearance: none;
    font-size: 1rem;
    background-color: white;
    color: black;
}

.vcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
